@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Roboto';
	color: #ffffff;
	background-color: #1e1e1e;
}

.table {
	background-color: #1e1e1e;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: #ffffff;
}

.five-card-size {
	font-size: 1.25rem;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-five-card-size {
	flex: 0 0 20%;
	max-width: 20%;
}

@media (min-width: 540px) {
	.col-sm-five-card-size {
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (min-width: 720px) {
	.col-md-five-card-size {
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (min-width: 960px) {
	.col-lg-five-card-size {
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (min-width: 1140px) {
	.col-xl-five-card-size {
		flex: 0 0 20%;
		max-width: 20%;
	}
}
