@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	font-family: 'Montserrat';
	color: #ffffff;
	background-color: #1e1e1e;
}

.five-card-size {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-five-card-size {
	flex: 0 0 20%;
	max-width: 20%;
}

@media (min-width: 540px) {
	.col-sm-five-card-size {
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (min-width: 720px) {
	.col-md-five-card-size {
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (min-width: 960px) {
	.col-lg-five-card-size {
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (min-width: 1140px) {
	.col-xl-five-card-size {
		flex: 0 0 20%;
		max-width: 20%;
	}
}
